* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --fontFamily: "Montserrat", sans-serif;
  --darkMode: #1c1c21;
  --darkModeWhites: whitesmoke;
}
.dark-mode {
  display: flex;
  align-items: center;
  position: absolute;
  top: 7px;
  left: 0;
  margin-left: 30px;
  font-size: 0.6rem;
  column-gap: 5%;
  width: 150px;
}
.light,
.night {
  transition: color 5s ease;
}
.light.dark {
  color: var(--darkModeWhites);
}
.night.dark {
  color: var(--darkModeWhites);
}
.light-dark-switch {
  width: 36px;
  height: 18px;
  border: 1px solid black;
  border-radius: 50px;
  position: relative;
  transition: border-color 5s ease;
}
.light-dark-switch.dark {
  border: 1px solid var(--darkModeWhites);
}
.light-dark-switch::after {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  background-color: transparent;
  border-radius: 50px;
  top: 0px;
  left: -34%;
  box-shadow: 15px 2px 0 0 black;
  transition: left 1s ease, box-shadow 1s ease;
}
.light-dark-switch.dark::after {
  left: 40%;
  box-shadow: 6.5px 2px 0 0 var(--darkModeWhites);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: var(--fontFamily);
  padding: 30px;
  transition: background-color 1s ease;
}
body.dark {
  background-color: var(--darkMode);
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  transition: border-color 4s ease;
}
.wrapper.dark {
  border: 1px solid var(--darkModeWhites);
}
header {
  width: 50%;
  margin: 50px 0 50px;
  position: relative;
}
header button {
  border: none;
  background-color: transparent;
  font-size: 0.75rem;
  font-weight: 600;
  height: 1rem;
  position: absolute;
  bottom: -3rem;
  cursor: pointer;
}

header button.current-btn::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: black;
  left: 0;
  bottom: -2px;
  border-radius: 5px;
  animation: spread;
  animation-duration: 400ms;
  animation-timing-function: ease-out;
  transition: background-color 3s ease;
}
header button.current-btn.dark::after {
  background-color: var(--darkModeWhites);
}
.logo-light {
  width: 100%;
  position: relative;
  animation: fade 3s ease;
}
.logo-dark {
  display: none;
  width: 100%;
  left: 0;
  animation: fade 3s ease;
}
.about-btn {
  left: 1rem;
  transition: color 3s ease;
}
.portfolio-btn {
  right: 1rem;
  transition: color 3s ease;
}
.about-btn.dark,
.portfolio-btn.dark {
  color: var(--darkModeWhites);
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}
.about {
  display: none;
  width: 30ch;
  font-size: 0.75rem;
  text-align: center;
  line-height: 1.3rem;
  animation-name: move;
  animation-duration: 1s;
  transition: color 3s ease;
  transition: color 3s ease;
}
.about.dark {
  color: var(--darkModeWhites);
}
.portfolio {
  display: none;
  animation-name: move;
  animation-duration: 1s;
}
.portfolio-projects {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.portfolio-projects li {
  list-style: none;
  text-align: center;
  font-weight: 300;
  cursor: pointer;
  transition: opacity 250ms ease;
}
.portfolio-projects li a {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  transition: color 3s ease;
}
.portfolio-projects li a.dark {
  color: var(--darkModeWhites);
}
.portfolio-projects li span {
  display: block;
  font-size: 0.65rem;
  font-weight: 700;
  color: rgb(0, 0, 0);
  font-style: italic;
  transition: color 3s ease;
}
.portfolio-projects li span.dark {
  color: var(--darkModeWhites);
}
.current-sec {
  display: block;
}

/* ! MEDIA ---------------------------------------------- */

@media only screen and (min-width: 480px) {
  header button {
    font-size: 0.8rem;
    bottom: -3.5rem;
  }
  .about {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }
  .portfolio-projects li a {
    font-size: 1.4rem;
  }
  .portfolio-projects li span {
    font-size: 0.75rem;
  }
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
  }
}

@media only screen and (min-width: 720px) {
  header {
    width: 40%;
  }
  header button {
    font-size: 0.9rem;
    bottom: -3rem;
  }
  header button.current-btn::after {
    bottom: -3px;
  }
  .about {
    font-size: 0.85rem;
    line-height: 1.8rem;
  }
  .portfolio-projects li a {
    font-size: 1.5rem;
  }
  .portfolio-projects li span {
    font-size: 0.85rem;
  }
}

@media only screen and (min-width: 1024px) {
  header {
    display: flex;
    justify-content: center;
    position: initial;
    width: 30%;
    column-gap: 20%;
    margin: 0;
  }
  .logo {
    width: 30%;
    position: initial;
  }
  header button {
    font-size: 0.9rem;
    position: relative;
  }
  header button.current-btn::after {
    bottom: -4px;
  }
  .about {
    font-size: 0.9rem;
    line-height: 1.8rem;
  }
  .portfolio-projects li a {
    font-size: 1.8rem;
  }
  .portfolio-projects li span {
    font-size: 0.8rem;
  }
  main {
    height: 40%;
  }
}
@media only screen and (min-width: 1280px) {
  .logo {
    width: 25%;
    position: initial;
  }
  header button {
    font-size: 1rem;
    position: relative;
  }
  header button.current-btn::after {
    bottom: -5px;
  }
  .about {
    font-size: 0.9rem;
    line-height: 1.8rem;
  }
  .portfolio-projects li a {
    font-size: 2rem;
  }
  .portfolio-projects li span {
    font-size: 1rem;
  }
  main {
    height: 35%;
  }
}

/* ! KEYFRAMES ---------------------------------------------- */

@keyframes move {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes spread {
  from {
    width: 0;
    left: 50%;
  }
  to {
    width: 100%;
    left: 0;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
